@keyframes slideRight {
    0% {
      transform: translateX(-800px);
    }
    100% {
      transform: translateX(0px); /* Ajustez la valeur selon votre besoin */
    }
  }
  
  .moveRight {
    animation: slideRight 0.5s ease forwards; /* Ajustez la durée et le timing selon vos besoins */
  }
  
  @keyframes slideLeft {
    0% {
      transform: translateX(800px);
    }
    100% {
      transform: translateX(0px); /* Ajustez la valeur selon votre besoin */
    }
  }
  
  .moveLeft {
  animation: slideLeft 0.5s ease forwards; /* Ajustez la durée et le timing selon vos besoins */
  }
  /* Cacher l'élément sur les petits écrans */
@media (max-width: 640px) {
  .smartphone {
      display: none;
  }
}
.custom-scale-80 {
  transform: scale(0.9);
}
